* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Interface {
    font-family: 'Arial', sans-serif;
    text-align: center;
    /* background-color: #1a1a1a; */
    height: 100vh;
    padding: 20px;
    color: #e0e0e0;
}

h1 {
    color: #ff5722;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form {
    background: #2c2c2c;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #444;
}

input {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: #e0e0e0;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #ff5722;
    box-shadow: 0 0 8px rgba(255, 87, 34, 0.5);
}

button {
    background: #ff5722;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: #e64a19;
    transform: scale(1.05);
}

h2 {
    margin-top: 30px;
    color: #ff5722;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 400px;
    margin: 20px auto;
}

li {
    background: #2c2c2c;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e0e0e0;
    border: 1px solid #444; 
    transition: transform 0.3s, box-shadow 0.3s;
}

li:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(255, 87, 34, 0.3); 
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 20px auto;
    font-weight: bold;
    color: #ff5722;
}

.hero-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}